


body{
  font-family: "Montserrat", sans-serif;
}

/* title texts */

h1, h2, h3{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h1{
  font-size: 3rem;
  line-height: 1.5;
}

/* testimonial text */

h2{
  line-height: 1.5;
}


h3{
  font-size: 1.25rem;
}

p{
  color: grey;
}

/* title part */
#title{
  background-color: #4C3A51;
  color: #fff;
}

/* container part */
.container-fluid{
  padding: 2% 15% 7%;
}

/* navigation bar */
.navbar-brand{
  font-size: 3rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.navbar-item{
  padding: 0 18px;
}

.nav-link{
  font-weight: 300;
}

.navbar-edited{
  padding:0 0 4.5rem;
}

/*download buttons */
.btn-download{
  margin:3rem 1rem 0;
}



/* title img styling */
.phone-img{
  margin-top: 2rem;
  transform: rotate(25deg);
  height: 70%;
  width: 17%;
  position: absolute;
  right: 23%;
}

/* done position: absolute;because to stack features section on top of the image, what this will
                    do is that it will take out photo from the html flow.    */

/* features section */
#features{
  background-color: white;
  padding: 7% 15%;            /* haven't used z-index numbers to stack these because while one is absolute and other is */
  position: relative;                     /*     relative they automatically go on top of eachothers. */
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.f-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.f-icon:hover{
  color: #ff4c68;
}

#testimonials{
  background-color: #4C3A51;
  color: #fff;
  text-align: center;
}

/* carousel used to display testimonial */
.carousel-item{
  padding: 5% 15%;
}

.testimonial-img{
  border-radius: 100%;
  height: 10%;
  width: 10%;
}

.testimonial-text{
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  line-height: 3rem;
  width: 70%;
  margin: auto;
  margin-bottom: 3.5rem;
}

#press{
  background-color: #4C3A51;
  padding-bottom: 5rem;
  text-align: center;
}

.press-logo{
  width: 10%;
  margin: 2%;
}

#pricing{
  margin: 10% 10%;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

.card-btn{
  position: relative;
  right: 1rem;
}

#cta{
  background-color: #4C3A51;
  text-align: center;
  padding: 5rem;
}

/* cta section */

.cta-text{
  color: #fff;
  width: 30%;
  margin: auto auto 3rem;
  line-height: 1.5;
  font-size: 2rem;
}


.btn{
  margin: 1rem;
}

/* footer section */

#footer{
  padding: 5% 10%;
  text-align: center;
}
.social-icons{
  margin: 2% 1%;
}

@media screen and (max-width:1110px) {
  .phone-img{
    position: static;
    transform: rotate(0);
    height: auto;
    width: auto;
  }

  #title{
    text-align: center;
  }

  .cta-text{
    width: 70%;
  }
}
